name: Docker Image CI

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: login to gitlab registry
        run: docker login -u '${{secrets.username}}' -p ${{secrets.deploytoken}} ${{vars.registry}}
      - name: Build and push to local registry
        uses: docker/build-push-action@v6
        with:
          provenance: false
          push: true
          tags: ${{vars.registry}}/${{vars.image_name}}:latest
          platforms: linux/arm64